.container {
  padding: 20px;
}

.filter-year {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.filter-data, span {
  font-size: 20px;
  margin-right: 20px;
}

.disabled {
  cursor: pointer;
  color: rgb(25, 25, 25);
}

.select-year {
  background-color: #384fa9;
  padding: 5px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  align-items: center;
}

.card-totais, p {
  display: flex;
  font-size: 18px;
  margin-right: 18px;
}

strong, .strong {
  margin-right: 5px;
}

.box {
  margin-right: 5px;
  padding: 1px 5px;
}

.card-summary {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  border-radius: 8px;
}

.exemple-card {
  width: calc(25% - 20px);
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;

}

.exemple-card:hover{
  transform: scale(1.02);
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.2);
}
.mat-card-title {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

.btn {
  background-color: rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  cursor: pointer;
  text-align: center;
  width: 100%;
}

.btn:hover{
  transform: scale(1.02);
  background-color: rgba(0, 0, 0, 0.2);
}

.header-center {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #384fa9;
  color: white;
  font-size: 2em;
  height: 100%;
  padding-bottom: 20px;
}

.mat-card-content {
  padding: 0;
}

.summary-row {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.summary-labels {
  font-weight: 500;
  font-size: 1em;
}

.summary-values {
  font-size: 1em;
}

.summary-labels, .summary-values {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.summary-labels span, .summary-values span {
margin-bottom: 5px;
}

.negative {
  background-color: red;
  color: white;
  padding: 1.5px 5px;  
}

 .positive {
  background-color: green;
  color: white;
  padding: 1.5px 5px;  
}

/* .mat-card-actions {
  text-align: center;
  width: 100%;
} */

@media (max-width: 768px) {
  .exemple-card {
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px; /* Adiciona bordas arredondadas para um visual mais elegante */
  };
 

  .header-center {
    font-size: 1.5em;
    height: 50%;
  }

  .summary-row {   
    display: flex;
    align-items: flex-start;
  }

  .filter-year {
    flex-direction: column;
    align-items: center;
  }
  
  .card-totais {
    display: none;
  }

  .summary-labels, .summary-values {
    width: 100%;    
  }

  .summary-labels span, .summary-values span {
    display: block;
    width: 100%;
    font-size: 16px;
  }  
  
}
