<div class="container">
  <main>
    <section class="filter-year">
      <div class="filter-data">
        <span (click)="changeYear(currentYear - 1)" [class.disabled]="!filterYears(currentYear - 1)"
          class="select-year">
          < </span>
            <span>
              {{ currentYear }}
            </span>
            <span (click)="changeYear(currentYear + 1)" [class.disabled]="!filterYears(currentYear + 1)"
              class="select-year">
              >
            </span>
      </div>

      <div class="card-totais">
        <div class="card-receita">
          <p><strong>Total Receitas</strong> {{ totalReceita |currency: 'BRL' }} </p>
        </div>
        <p><strong>Total Despesass</strong> {{ totalDespesa |currency: 'BRL' }} </p>
        <p>
          <strong>Total Despesass</strong>
          <span [ngClass]="{'positive': totalBalance > 0, 'negative': totalBalance < 0}">
            {{ totalBalance |currency: 'BRL' }}
          </span>
        </p>
      </div>
    </section>

    <section class="card-summary">
      <ng-container *ngFor="let month of months">
        <mat-card class="exemple-card" appearance="outlined">
          <mat-card-header class="header-center">
            <mat-card-header>{{ month.name | titlecase }} </mat-card-header>
          </mat-card-header>
          <mat-card-content>
            <div class="summary-row">
              <div class="summary-labels">
                <span>Entrada</span>
                <span>Saída</span>
                <span>Total</span>
              </div>

              <div class="summary-values">
                <span>{{ month.entrada | currency: 'BRL' }}</span>
                <span>{{ month.saida | currency: 'BRL' }}</span>
                <span [ngClass]="{'positive': month.total > 0, 'negative': month.total < 0}">
                  {{ month.total | currency: 'BRL' }}
                </span>
              </div>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <div class="btn">
              <button mat-button>Mais detalhes</button>
            </div>
          </mat-card-actions>
        </mat-card>

      </ng-container>

    </section>
  </main>
</div>